- model_class = Article
%table.table.table-striped
  %thead
    %tr
      %th
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.id, article_path(article)
        %td

          -#.pull-right
            = link_to edit_article_path(article), :class => 'btn btn-default btn-xs', :style => "margin-right: 10px;" do
              %i.fa.fa-pencil
            = link_to  article_path(article), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' do
              %i.fa.fa-remove
          = link_to  article_path(article) do
            = article.title
            - if article.comments_count > 0
              %i.fa.fa-comments
              = article.comments_count

          %font{style:"margin-right: 0px;"}= link_to article.user, article.user
          %time.timeago{datetime: article.created_at.strftime("%Y-%m-%d %H:%M:%S")}

          .list-group{style: "margin-top: 10px; margin-bottom: 5px;margin-right: 20px;"}
            - article.comments.order("id desc").limit(3).includes(:user).each do |comment|
              .list-group-item
                -#%h4.list-group-item-heading test
                .list-group-item-text
                  .pull-left{style: "margin-right: 10px;"}
                    = link_to ":;", style: "margin-right: 0px;" do
                      = image_tag asset_path('avt.png'), class: 'media-object pull-left', style: "width: 20px;height: 20px;margin-right: 5px;"
                      = link_to comment.user, comment.user
                    = ': '

                  = comment.content
                  %time.timeago{datetime: comment.created_at.strftime("%Y-%m-%d %H:%M:%S")}


= link_to t('.new', :default => t("helpers.links.new")), new_article_path, :class => 'btn btn-primary'
