
= link_to t('.new', :default => t("helpers.links.new")), new_article_path, :class => 'btn btn-primary pull-right mr10'
.dropdown.pull-right
  %button.btn.btn-default.dropdown-toggle{id: 'dropdownMenu1', type: 'button', 'data-toggle': 'dropdown', 'aira-haspopup': 'true', 'aria-expanded': true}
    = {'comments_count'  => '按评论数排序'}[params[:sort]] || '按时间排序'
    %span.caret
  %ul.dropdown-menu{'aria-labelledby': 'dropdownMenu1'}
    %li=link_to "按时间排序", articles_path
    %li=link_to "按评论数排序", articles_path(sort: 'comments_count')


- model_class = Article
%table.table.table-striped
  %thead
    %tr
      %th
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.id, article_path(article)
        %td
          = link_to  article_path(article) do
            = article.title
            - if article.comments_count > 0
              %i.fa.fa-comments
              = article.comments_count

          %font.mr0= link_to article.user, article.user
          %time.timeago{datetime: article.created_at.strftime("%Y-%m-%d %H:%M:%S %z")}

          .list-group.mt10.mb5.mr20
            - (article.top3_comments || []).each do |comment|
              .list-group-item
                .list-group-item-text
                  .pull-left.mr10
                    = link_to ":;", class: 'mr0' do
                      = image_tag asset_path('avt.png'), class: 'media-object pull-left mr5', style: "width: 20px;height: 20px;"
                      = link_to comment.user, comment.user
                    = ': '

                  = comment.content
                  %time.timeago{datetime: comment.created_at.strftime("%Y-%m-%d %H:%M:%S %z")}



- if @articles.total_pages > 1
  .pagination
    = will_paginate @articles, renderer: BootstrapPagination::Rails
