- model_class = Article
.page-header
  %h3=  @article.title
%p
  = @article.description

%br

= link_to  articles_path, :class => 'btn btn-default btn-xs', :style => "margin-right: 10px;"  do
  %i.fa.fa-angle-left
= link_to edit_article_path(@article), :class => 'btn btn-default btn-xs', :style => "margin-right: 10px;" do
  %i.fa.fa-pencil
= link_to  article_path(@article), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger', :style=>"margin-right: 10px;" do
  %i.fa.fa-remove

= @article.user
= "·"
= @article.created_at

= render "comments/list", commentable: @article
= render "comments/form", comment: @article.comments.build

